extends layout

block content
    h1 Welcome to  JavaScript Club House

    div
        h2 Create Message

        form(action="/post" method="POST")
            div
                label(for="message") Enter Message
                br
                textarea(name="message", cols="50", rows="5" id="message"  placeholder="Whats on your mind") #{""}
            div
                button(type="submit") Post

    hr

    each msg in data
        div
            h3 #{msg.title}
            p #{msg.message}
        hr   
    else
         p There are no messages to display