doctype html
html
    head(lang="en")
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title JavaScript | Clubhouse
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet" href="/styles.css")

    body
        nav(class="blue")
            div(class="nav-wrapper ")
                a(href="/" class="brand-logo left") JS CLUBHOUSE
            
                ul(class="right")
                    if currentUser 
                        li
                            a(href="/logout" ) Logout
                    else
                        li
                            a(href="/login" ) Login #[span   ]
                        li
                            a(href="/signup") Register

        div(class="container")
        
            block content





        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="/main.js")