extends layout


block content

    div(class="row")
        div(class="col s12 m8 offset-m2 l6 offset-l3")

            h1(class="center-align") Delete Message

            if errors
                ul
                    each error in errors
                        li 
                            div(class="chip red ") 
                                i(class="material-icons white-text left") error 
                                span(class="white-text") #{error.msg}
                                i(class="close material-icons white-text") close

                a(href="/dash" class="btn waves-effect waves-blue blue ligthen-3") Home

            if data 
                h6(class="center-align") Are you sure you want to delete this message

                form(method="POST")
                    input(type="text" name="author" style="display: none" value=data.author)

                    div(class="input-field center")
                        button(type="submit" class="btn waves-effect waves-red red ligthen-3 dash-btn") Yes
                        a(href="/dash" class="btn waves-effect waves-blue blue ligthen-3") Cancel